<article class="post">
  <div class="card">
    <div class="post-slider card-img-top">
      <div class="swiper-container dots-over" data-margin="5" data-nav="true" data-dots="true">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="@@webRoot/assets/img/photos/b2-2.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="@@webRoot/assets/img/photos/b3-2.jpg" alt="" /></div>
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.post-slider -->
    <div class="card-body">
      <div class="post-header">
        <div class="post-category text-line">
          <a href="#" class="hover" rel="category">Ideas</a>
        </div>
        <!-- /.post-category -->
        <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="@@webRoot/blog-post.html">Fringilla Ligula Pharetra Amet</a></h2>
      </div>
      <!-- /.post-header -->
      <div class="post-content">
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Cras mattis consectetur purus.</p>
      </div>
      <!-- /.post-content -->
    </div>
    <!--/.card-body -->
    <div class="card-footer">
      <ul class="post-meta d-flex mb-0">
        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>25 Jun 2022</span></li>
        <li class="post-author"><a href="#"><i class="uil uil-user"></i><span>By Sandbox</span></a></li>
      </ul>
      <!-- /.post-meta -->
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->
</article>
<!-- /.post -->

<article class="post">
  <div class="card">
    <div class="card-img-top">
      <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="j_Y2Gwaj7Gs"></div>
    </div>
    <div class="card-body">
      <div class="post-header">
        <div class="post-category text-line">
          <a href="#" class="hover" rel="category">Workspace</a>
        </div>
        <!-- /.post-category -->
        <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="@@webRoot/blog-post.html">Consectetur Bibendum Sollicitudin Vulputate</a></h2>
      </div>
      <!-- /.post-header -->
      <div class="post-content">
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Cras mattis consectetur purus.</p>
      </div>
      <!-- /.post-content -->
    </div>
    <!--/.card-body -->
    <div class="card-footer">
      <ul class="post-meta d-flex mb-0">
        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>18 May 2022</span></li>
        <li class="post-author"><a href="#"><i class="uil uil-user"></i><span>By Sandbox</span></a></li>
      </ul>
      <!-- /.post-meta -->
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->
</article>
<!-- /.post -->