<div class="widget">
  <h4 class="widget-title mb-3">À propos de la paroisse</h4>
  <p>Située au cœur du village de Saint-Sauveur, la paroisse est au service de la population de Saint-Sauveur et de Piedmont depuis 1854. Au-delà de la belle vieille église, la paroisse est une communauté chrétienne dynamique qui prend plaisir à vous accueillir.
  </p>
</div>
<!-- /.widget -->

<div class="widget">
  <h4 class="widget-title mb-3">Événements à venir</h4>

  <ul class="image-list">
    @@loop("_evenement_a_venir.html", "../temp/evenements_a_venir.json")
  </ul>
  <!-- /.image-list -->
</div>
<!-- /.widget -->

<div class="widget">
  
  <a href="https://www.semainierparoissial.com/semainiers/195.pdf">
    <i class="uil uil-external-link-alt"></i>
    Semainier Paroissial
  </a>
</div>
<!-- /.widget -->
