
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a1.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Magna Mollis Ultricies</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>26 Mar 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"> <a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a2.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Ornare Nullam Risus</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>16 Feb 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a3.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Euismod Nullam Fusce</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>8 Jan 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a1.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Magna Mollis Ultricies</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>26 Mar 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"> <a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a2.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Ornare Nullam Risus</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>16 Feb 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>